# Python
"__pycache__" 
"*.pyc" 

# intellij
/.idea/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon_

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.lnk

# Linux
.directory
*~
